.btn1 {
    position: absolute;
    top: 400px;
    left: 100px;
}
.btn1 button {
    width: 200px;
    height: 100px;
    font-size: 30px;
    border-radius: 30px;
}
.certificados {
    position: relative;
    bottom: -10px;
}
.container__modal {
    position: absolute;
    top: 50px;
    left: 50%;
    background-color: black;
    opacity: 0.7;
    padding: 20px;
    border-radius: 10px 50px;
    height: 410px;
    

    .certificados a {
        color: aliceblue;
        text-decoration: none;
        
        
        
       
    }
}
 .certificados__titulo{
   
            color: rgb(255, 255, 255);
        }
      
        .fechar{
            position: relative;
            left: 10%;
            width: 80%;
            height: 30px;
            border-radius: 20px 50px;
            bottom: -15px;
        } 
            
        @media (max-width: 1200px) {
            .container__modal {
                position: absolute;
                top: 0px;
                justify-content: end;
                background-color: black;
                opacity: 1;
                padding: 20px;
                border-radius: 10px 50px;
                
            
                .certificados a {
                    color: aliceblue;
                    
                   
                }
        }
         
    }
    @media (max-width:550px){
        
        .btn1 {
            position: absolute;
            top: 250px;
            left: 0%;
            width: 100%;
        }
        .btn1 button {
            width: 100%;
            height: 50px;
            font-size: 30px;
            border-radius: 10px 30px;
        }
     
        .container__modal {
            position: absolute;
            top: 30px;
            left: 30%;
            width: 60%;
            background-color: black;
            opacity: 1;
            padding: 20px;
            border-radius: 10px 50px;
        font-size: 15px;
        height: 450px;
            .certificados a {
                color: aliceblue;
                text-decoration: none;
               
            }
        }
       
                .fechar{
                    position: relative;
                    left: 10%;
                    width: 80%;
                    height: 30px;
                    border-radius: 20px 50px;
                    bottom:-10px;
                    
                } 
    } 


    @media (max-width:550px){
        .container__modal{
            top: 10px;
            left: 30px;
            width: 80%;
            font-size: 12px;
        }
    }