 
.social img{
      

    width: 50px;
    
}
.social ul{
    position: fixed;
   background-color:transparent;
   width: 100%;
    justify-content: center;
    display: flex;
    gap: 10%;
    
    bottom: 0px;
    
    
}
.social li{
    list-style: none;
    cursor: pointer;
}

@media (max-width:400px){
    .relogio h1{
        right: 2%;
        top: -20px;
    }
  }